fastapi
uvicorn
torch
transformers
pillow
matplotlib
psycopg2-binary
pydantic
sqlmodel
geopandas
python-dotenv
python-multipart
EcoNameTranslator
pyjokes
google-search-results
passlib
asyncio
spark-nlp
PyJWT
pyspark
ultralytics
python-dotenv
websockets